<div class="container text-center">
  <%= simple_form_for @user do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %><br />

      <%= f.label :password %><br />
      <%= f.password_field :password, required: true %><br />

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, required: true %><br />

      <%= f.submit %>
    </div>
  <% end %>
<div>
