<h1>Cards</h1>

<table class="table">
  <tr>
    <th><%= t('cards.table.id') %></th>
    <th><%= t('cards.table.o_text') %></th>
    <th><%= t('cards.table.t_text') %></th>
    <th><%= t('cards.tale.deck') %></th>
    <th><%= t('cards.table.review_date') %></th>
    <th><%= t('cards.table.actions') %></th>
    <th><%= t('cards.table.i')%></th>
    <th><%= t('cards.table.ef')%></th>
  </tr>

  <% @cards.each do |card| %>
    <tr>
      <td><%= card.id %></td>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.deck.title %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y")%></td>
      <td>
        <%=link_to t('cards.action.edit'), edit_card_path(card)%>
        <%=link_to t('cards.action.delete'),card_path(card),
           method: :delete,
           data: { confirm: t('cards.action.confirm') } %>  
      </td>
      <td><%= card.i %></td>
      <td><%= card.ef %></td>
    </tr>
  <% end %>
</table>
