<table class="table">
  <tr>
    <th><%= t('decks.table.id') %></th>
    <th><%= t('decks.table.title') %></th>
    <th><%= t('decks.table.card_count') %></th>
    <th><%= t('decks.table.unchecked_card_count') %></th>
    <th><%= t('decks.table.status') %></th>
    <th><%= t('decks.table.Change status') %></th>
  </tr>
  <% @decks.each do |deck| %>
    <tr>
      <td><%= deck.id %></td>
      <td><%= deck.title %></td>
      <td><%= deck.cards.count %></td>
      <td><%= deck.cards.need_check.count %>
      <td><%= deck.status %></td>
      <% unless deck.active? %>
        <td><%= link_to t('decks.table.link.active'), dashboard_activate_path(deck), method: :patch %></td>
      <% else %>
        <td><%= link_to t('decks.table.link.deactive'), dashboard_activate_path(deck), method: :patch %></td>
      <% end %>
    </tr>
  <% end %>
</table>

