<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title
    <link rel="stylesheet" href="#" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav role="navigation" class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to t('main.brand'), root_path, class: 'navbar-brand' %>
      </div>
  <!-- Collection of nav links, forms, and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to t('main.all_cards'), cards_path %></li>
          <li><%= link_to t('main.add_card'), new_card_path %></li>
          <li><%= link_to t('main.create_deck'), new_deck_path %></li>
          <li><%= link_to t('main.decks'), decks_path %></li>
         <% if current_user %>
            <li><%= link_to t('main.profile'), edit_user_path(current_user),
                                       id: "profile" %></li>
            <li><%= link_to t('main.logout'), :logout,
                                       method: :post, id: "logout" %></li>
          <% else %>
            <li><%= link_to t('main.facebook_login'),
                    auth_at_provider_path(:provider => :facebook) %></li>
          <%= link_to_unless_current "English", locale: "en" %> |
          <%= link_to_unless_current "Русский", locale: "ru" %>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield  %>
    </div>
  </body>
</html>
